################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
/.vs
/packages
/ValueConversion.Ef6/ValueConversion.Ef6.csproj.user
